/catalog/.mvn/
/catalog/mvnw.cmd
/catalog/mvnw
/catalog/target/
/catalog/src/test/
/discovery/.mvn/
/discovery/src/test/
/discovery/target/
/discovery/mvnw.cmd
/discovery/mvnw
/gateway/.mvn/
/gateway/target/
/gateway/src/test/
/gateway/mvnw.cmd
/gateway/mvnw
/identity/.mvn/
/identity/src/test/
/identity/target/
/identity/mvnw.cmd
/identity/mvnw
/shop-order/.mvn/
/shop-order/src/test/
/shop-order/mvnw.cmd
/shop-order/mvnw
