<h1 class="font-bold mt-3 mb-4 text-center fw-light">{{ title | titlecase }}</h1>

<section class="py-1" style="background-color: #eee;">
  <div class="container px-4 px-lg-5 mt-5">

    <app-cart_item
      *ngFor="let cartItem of cartItems$ | async"
      [cartItem]="cartItem"
      [products$]="products$"
      (increasePrice)="increasePrice($event)"
      (decreasePrice)="decreasePrice($event)"
      [refreshCartItems]="refreshCartItems">
    </app-cart_item>

    <div class="row">
      <div class="col-md-3 mx-auto">
        <form class="mb-5" (ngSubmit)="onSubmit()">
          <div class="form-group">

            <h4>Сумма заказа: {{ price }} Рублей</h4>
            <button type="submit" class="btn btn-primary">Оформить заказ</button>
          </div>
          <small class="error-message" *ngIf="isNotEnough">Выбранного товара нет в наличии в указанном количестве! </small>

        </form>
      </div>
    </div>
  </div>
</section>
